html, body {
  margin: 0;
  padding: 0;
  height: 100%;          /* tie them together */
}

html {
  background-color: #300060; /* fallback only, won't be seen normally */
}

body::before {
  content: ""; /* required to make this element exist */
  position: fixed;
  inset: 0;
  width: 100dvw;   /* dynamic viewport width */
  height: 100dvh;  /* dynamic viewport height (fixes mobile bar weirdness) */

  background-image: url("/Resources/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2; /* behind constellations */
  pointer-events: none; /* just in case */
}
  
body {
  min-height: 100dvh;  /* at least full screen */
  background: transparent; /* don't paint over your image */

  text-align: center;
  font-family: 'New Rocker';
  color: #bdbdbd;
  font-size: 5dvmin;
}

hr{
  width:50dvw;
  border: none;
  height: 3px;
  background-color: #bdbdbd;
}

button{
  background:none;
  border:none;
  text-align: center;
  font-family: 'New Rocker';
  color: #BB0000;
  font-size: 5dvmin;
  }
  
  a {
    display: flex;
  flex-direction: column;
  align-items: center;
  color: #BB0000;
  padding-bottom:1dvmin;
    }

a:hover, a:active, button:hover, button:active {
  color: #880000;
}

.clean {
  color: inherit;
  text-decoration:none;
}

.imgButton:active, .imgButton:hover {
  border: 3px solid #880000;
}

.imgButton {
  width: 20dvmin;
  height: 20dvmin;
  padding:2dvmin;
  font: 1dvmin Arial;
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  object-fit: cover;
}

h2 {
  font-size: 2dvmin;
  margin-top:-7dvmin;
}

#constellations {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* for low motion settings */
@media (prefers-reduced-motion: reduce) {
  #constellations {
    display: none;
  }
}
/*-------------*/
/* For Scripts */
/*-------------*/

p {
margin:0;
}

.roman, .sage{
margin-top:1em;
color:red;
font-weight: bold;
}

.elena {
margin-top:1em;
color:yellow;
font-weight: bold;
}

.iris, .darian {
margin-top:1em;
color:blue;
font-weight: bold;
}

.walter {
margin-top:1em;
color:brown;
font-weight: bold;
}

.trent {
margin-top:1em;
color:orange;
font-weight: bold;
}

.dave {
margin-top:1em;
color:pink;
font-weight: bold;
}

.fireRider {
margin-top:1em;
color:firebrick;
font-weight: bold;
}

.sidecharacter {
margin-top:1em;
color:inherit;
font-weight: bold;
}