html, body {
  background-color: black;
}

body::before {
  content: "";/* REQUIRED for ::before to exist */
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;

  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2; /* behind the constelation animation */
}
  
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background: transparent !important;

  justify-content: center;
  text-align: center;
  font-family: 'New Rocker';
  font-size: 5dvmin;
  color: #bdbdbd;
}

img {
  width:20dvmin;
  height:20dvmin;
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  object-fit: cover;
  padding:2dvmin;
  font: 1dvmin Arial;
}
      
h3 {
  font-size: 3dvmin;
  margin-top:-7dvmin;
}

h4 {
  font-size:3dvmin;
}

#constellation-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}