/* there are no easter eggs here, I just suck at programming */

html {
  background-color: #300060;
}

body::before {
  content: "";/* required for ::before to exist */
  position: fixed;
  top: 0;
  left: 0;
  /* units for old browsers and modern browsers */
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;

  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2; /* behind the constelation animation */
}
  
body {
  margin: 0;
  padding: 0;
  /* units for old browsers and modern browsers */
  min-height: 100vh;
  min-height: 100dvh;

  text-align: center;
  font-family: 'New Rocker';
  color: #bdbdbd;
  /* units for old browsers and modern browsers */
  font-size: 5vmin;
  font-size: 5dvmin;
}

hr{
  /* units for old browsers and modern browsers */
  width:50vw;
  width:50dvw;
  margin-bottom:10vmin;
  margin-bottom:10dvmin;
  
  border: none;
  height: 3px;
  background-color: #bdbdbd;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  /* units for old browsers and modern browsers */
  width: 20vmin;
  height: 20vmin;
  padding: 2vmin;
  font: 1vmin Arial;
  
  width: 20dvmin;
  height: 20dvmin;
  padding:2dvmin;
  font: 1dvmin Arial;
  
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  object-fit: cover;
}

h2 {
  /* units for old browsers and modern browsers */
  font-size: 3vmin;
  margin-top:-7vmin;
  
  font-size: 3dvmin;
  margin-top:-7dvmin;
}
      
h3 {
  /* units for old browsers and modern browsers */
  font-size: 7.5vmin;
  margin: -2vmin 0 10vmin 0;
  
  font-size: 7.5dvmin;
  margin: -2dvmin 0 10dvmin 0;
}

h4 {
  /* units for old browsers and modern browsers */
  font-size: 3vmin;
  font-size: 3dvmin;
}

#constellations {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* for low motion settings */
@media (prefers-reduced-motion: reduce) {
  #constellations {
    display: none;
  }
}