/* there are no easter eggs here, I just suck at programming */

html {
  background-color: #300060;
}

body::before {
  content: ""; /* required to make this element exist */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Resources/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2; /* behind constelations */
}
  
body {
  margin: 0;
  padding: 0;
  /* units for old browsers and modern browsers */
  min-height: 100vh;
  min-height: 100dvh;

  text-align: center;
  font-family: 'New Rocker';
  color: #bdbdbd;
  /* units for old browsers and modern browsers */
  font-size: 5vmin;
  font-size: 5dvmin;
}

hr{
  /* units for old browsers and modern browsers */
  width:50vw;
  width:50dvw;
  
  border: none;
  height: 3px;
  background-color: #bdbdbd;
}

button{
  background:none;
  border:none;
  }
  
  a {
    display: flex;
  flex-direction: column;
  align-items: center;
    }

a, button {
  color: #BB0000;
  display: block;
}

a:hover, a:active, button:hover, button:active {
  color: #880000;
}

.clean {
  color: inherit;
  text-decoration:none;
}

.imgButton:active, .imgButton:hover {
  border: 3px solid #880000;
}

.imgButton {
  /* units for old browsers and modern browsers */
  width: 20vmin;
  height: 20vmin;
  padding: 2vmin;
  font: 1vmin Arial;
  
  width: 20dvmin;
  height: 20dvmin;
  padding:2dvmin;
  font: 1dvmin Arial;
  
  border-radius: 50%;
  border: 3px solid #bdbdbd;
  object-fit: cover;
}

h1 {
  /* units for old browsers and modern browsers */
  font-size: 9vmin;
  font-size: 9dvmin;
  
}

h2 {
  /* units for old browsers and modern browsers */
  font-size: 2vmin;
  margin-top:-7vmin;
  font-size: 2dvmin;
  margin-top:-7dvmin;
}

#constellations {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* for low motion settings */
@media (prefers-reduced-motion: reduce) {
  #constellations {
    display: none;
  }
}
/*-------------*/
/* For Scripts */
/*-------------*/

p {
margin:0;
}

.roman, .sage{
margin-top:1em;
color:red;
font-weight: bold;
}

.elena {
margin-top:1em;
color:yellow;
font-weight: bold;
}
.iris {
margin-top:1em;
color:blue;
font-weight: bold;
}